<template name="categoryedit">
	<div id="content-wrapper">
	    <form  class="panel form-horizontal form-bordered">
			    <div class="panel-heading">
			        <span class="panel-title">CAT</span>
			    </div>
			    <div class="panel-body">
			    <input type="hidden" id="cat_id" value="{{GetOneCategory._id}}">
			        <div class="row form-group">
			                        <label class="col-sm-2 control-label">Category:</label>
			            <div class="col-sm-10">
			                <input required type="text" name="name" id="catname" value="{{GetOneCategory.name}}" class="form-control">
			            </div>
			        </div>
			       
			        <div class="row form-group">
			            <label class="col-sm-2 control-label">Image Url:</label>
			            <div class="col-sm-10 btn btn-default image-preview-input">
			            	<input required type="text" name="imageurl" value="{{GetOneCategory.imageurl}}" id="imageurl" class="form-control">
			            </div>
			        </div>
			       
			    </div>
		    <div class="panel-footer text-right">
		        <button class="btn btn-primary" id="btnupdatecategory">UPDATE</button>
		    </div>
		</form>
    </div>
    <div id="main-menu-bg"></div>
</template>