<template name="footer">
	<footer class="footer">
        <div class="row">
            <div class="col-lg-12">
                <spam style="font-family:Raleway SemiBold;font-size: 0.8em;padding-right: 30px;">© Banistreet  2016</spam>
                <a class="footer_aTag" >Contactez-nous</a>
                <a class="footer_aTag">Blog</a>
                <a class="footer_aTag">Bilans 2016</a>
                <a href="404.html"><div class="footerButton" style="float: right">PARRAINER</div></a>
            </div>
        </div>
    </footer>
</template>