<template name="menufront">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#2A2A3A ">
        <div class="container menu">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html"><img src="/res/Sécurité.png" height=" 50px" style="padding-left: 80px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-left: 10px; margin-right: 10px">
                        <a href="" style="color: #43576f;font-family: 'Raleway Bold'">Campagnes</a>
                    </li>
                    <li style="margin-left: 10px; margin-right: 10px">
                        <a href="" style="color: #7CBFE9;font-family: 'Raleway Bold'">Nos Projects</a>
                    </li>
                    <li style="margin-left: 10px; margin-right: 10px; margin-top: 3px">
                        <div style=" padding: 8px;border: 4px solid white; width: 200px; text-align: center; border-radius: 4px; color: white;">
                            <a href="" style="color: white;font-family: 'Raleway Black';text-decoration: none;">ESPACE DONATEUR</a>
                        </div>
                    </li>
                    <li class="dropdown" style="margin-left: 10px; margin-right: 10px">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;font-family: 'Raleway Black';text-decoration: none; background-color: #d84e5b; width:160px;border-radius: 4px;text-align: center">
                            DONNER <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" style="background-color: #d84e5b;font-family: 'Raleway Bold';font-size: 12pt;color: white;text-align: center;padding: 10px">Parrainage</a>
                            </li>
                            <li>
                                <a href="" style="color: #2A2A3A;text-align: center;font-family: 'Raleway Bold';font-size: 12pt;padding: 10px">Don unique</a>
                            </li>
                        </ul>
                    </li>

                    <li style="margin-left: 10px; margin-right: 10px">
                        <a href="" style="color: #537592;font-family: 'Raleway Bold'">UK</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</template>